<p id="notice"><%= notice %></p>

<p>
	<strong>AntiBiogram:</strong>
	<%= @antibiogram.name %>
</p>

<% drugs = @antibiogram.drugs.uniq %>

<table id='antibiogram'>
	<thead>
		<tr>
			<th>Bacterium</th>
			<th>Isolate</th>
			<% drugs.each do |drug| %>
				<th><%= drug.name -%></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @antibiogram.isolates.each do |isolate| %>
			<tr>
				<th><%= isolate.bacterium.name -%></th>
				<th class='isolate'><%= isolate.value -%></th>
				<% drugs.each do |drug| %>
					<%# Should never actually be more than one, but just in case, get 'em all and join 'em. %>
					<td><%= isolate.susceptibilities.where(:drug => drug).collect(&:value).join(',') -%></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>


<%= link_to 'Edit', edit_antibiogram_path(@antibiogram) %> |
<%= link_to 'Back', antibiograms_path %>
